name: CI

on:
  push:
  pull_request:

jobs:
  ubuntu:
    name: Build and Test on Ubuntu
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23.3'

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: rust-handler

    - name: Install Boost library
      run: |
        sudo apt-get update
        sudo apt-get install -y libboost-all-dev

    - name: Build
      run: make build

    - name: Run tests
      run: make test

  macos:
    name: Build and Test on macOS
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.3'

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: rust-handler

      - name: Install Boost library
        run: |
          brew install boost

      - name: Build
        run: make build

      - name: Run tests
        run: make test